absl-py==2.1.0
coloredlogs==15.0.1
contourpy
cycler==0.12.1
filelock
flatbuffers==25.1.24
fonttools==4.55.8
fsspec==2024.12.0
humanfriendly==10.0
Jinja2
kiwisolver
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib
mdurl==0.1.2
mpmath
networkx
numpy
opencv-python
packaging
pillow
protobuf
Pygments
pyparsing
python-dateutil
rich
scipy
six
sympy
tensorboard
tensorboard-data-server
tqdm
typing_extensions
Werkzeug
